body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

h2 {
    margin-bottom: 15px;
    color: #555;
}

.progress-container {
    width: 100%;
    background-color: #eee;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 15px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius: 20px;
    transition: width 0.4s ease;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.option {
    display: inline-block;
    width: 45%;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.option-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.option-content img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.option-content span {
    color: #333;
    font-weight: bold;
}

.option:hover .option-content {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

input{
    display: none;
}


.button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

#prev-button {
    background-color: #f0ad4e;
}

#prev-button:hover {
    background-color: #ec971f;
}